body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-color: #bcdab4;
     
}
h1 {
      color: #333333;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 500%;
}
.card {
      width: 250px; 
      height: 330px; 
      margin: 10px; 
      display: inline-block; 
      background-color: #ffffff; 
      border: 2px solid #000000; 
      border-radius: 10px; 
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
      cursor: pointer; transition: transform 0.3s; /* Gán ảnh nền */ 
      background-image: url('playing-card-back-side-isolated-on-white-clipping-path-included-2AY5GD0.jpg');
      background-size: cover; /* Ảnh phủ toàn bộ khung */ 
      background-position: center ; /* Căn giữa ảnh */
}