body {
      font-family: Arial, sans-serif;
      text-align: center;
      background-image: url('audrey-jacquemot-bg-resize.jpg');
     
}
body:before { 
      content: ""; 
      position: fixed; 
      top: 0; bottom: 0; 
      width: 150px; /* độ rộng viền */ 
      background-image: url('pngtree-space-doodle1-vector-png-image_6637052.png');
      background-color: aqua;
      background-position: left;
      left: 0; }
body:after {
      content: ""; 
      position: fixed; 
      top: 0; bottom: 0; 
      width: 150px; /* độ rộng viền */ 
      background-image: url('pngtree-space-doodle1-vector-png-image_6637052.png');
      background-color: aqua;
      background-position: right;
      right: 0; }

h1 {
      font-family: 'Courier New', Courier, monospace;
      color: #333333;
      margin-top: 20px;
      margin-bottom: 20px;
      font-size: 500%;
}
.button1{
      background-color: #271cbb; /* Màu nền xanh lá cây */
      color: white; /* Màu chữ trắng */
      padding: 20px 200px; /* Khoảng cách trong nút */
      border: none; /* Không viền */
      border-radius: 5px; /* Bo góc */
      cursor: pointer; /* Hiệu ứng con trỏ khi di chuột */
      font-size: 16px; /* Kích thước chữ */
}
.button2{
      background-color: #271cbb; /* Màu nền xanh lá cây */
      color: white; /* Màu chữ trắng */
      padding: 20px 200px; /* Khoảng cách trong nút */
      border: none; /* Không viền */
      border-radius: 5px; /* Bo góc */
      cursor: pointer; /* Hiệu ứng con trỏ khi di chuột */
      font-size: 16px; /* Kích thước chữ */
}
.card {
      width: 200px; 
      height: 330px; 
      margin: 10px; 
      display: inline-block; 
      background-color: #ffffff; 
      border: 2px solid #000000; 
      border-radius: 10px; 
      box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
      cursor: pointer; transition: transform 0.3s; 
      background-image: url('playing-card-back-side-isolated-on-white-clipping-path-included-2AY5GD0.jpg'); /* Gán ảnh nền */ 
      background-size: cover; /* Ảnh phủ toàn bộ khung */ 
      background-position: center ; /* Căn giữa ảnh */
}